In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm
import time
from snowflake.snowpark.session import Session
import configparser

import warnings
warnings.filterwarnings("ignore")

config = configparser.ConfigParser()
config.read("snowflake_connection.ini")

connection_parameters = {
    "user": f'{config["Snowflake"]["user"]}',
    "password": f'{config["Snowflake"]["password"]}',
    "account": f'{config["Snowflake"]["account"]}',
    "WAREHOUSE": f'{config["Snowflake"]["WAREHOUSE"]}',
    "DATABASE": f'{config["Snowflake"]["DATABASE"]}',
    "SCHEMA": f'{config["Snowflake"]["SCHEMA"]}'
}

def snowflake_connector(conn):
    try:
        session = Session.builder.configs(conn).create()
        print("connection successful!")
    except:
        raise ValueError("error while connecting with db")
    return session

session = snowflake_connector(connection_parameters)

connection successful!

In [2]:
df = session.table("CPG_WAREHOUSE").to_pandas()

In [3]:
df.head(5)

,DATE,WARE_HOUSE_ID,WH_MANAGER_ID,LOCATION_TYPE,WH_CAPACITY_SIZE,ZONE,WH_REGIONAL_ZONE,REFILL_REQUESTS,TRANSPORT_ISSUE,NO_OF_COMPETITOR,...,ELECTRIC_SUPPLY,DIST_FROM_HUB,WORKERS_NUM,WH_EST_YEAR,STORAGE_ISSUE_REPORTED,TEMP_REG_MACH,APPROVED_WH_GOVT_CERTIFICATE,WH_BREAKDOWN,GOVT_CHECK,PRODUCT_WG_TON
0,2023-01-01,WH_100000,EID_50000,Urban,Small,West,Zone 6,3,1,2,...,1,91,29.0,NaN,13,0.0,A,5.0,15.0,17115.0
1,2023-01-01,WH_100001,EID_50001,Rural,Large,North,Zone 5,0,0,4,...,1,210,31.0,NaN,4,0.0,A,3.0,17.0,5074.0
2,2023-01-01,WH_100002,EID_50002,Rural,Mid,South,Zone 2,1,0,4,...,0,161,37.0,NaN,17,0.0,A,6.0,22.0,23137.0
3,2023-01-01,WH_100003,EID_50003,Rural,Mid,North,Zone 3,7,4,2,...,0,103,21.0,NaN,17,1.0,A+,3.0,27.0,22115.0
4,2023-01-01,WH_100004,EID_50004,Rural,Large,North,Zone 5,3,1,2,...,1,112,25.0,2009.0,18,0.0,C,6.0,24.0,24071.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350001 entries, 0 to 350000
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   DATE                          350001 non-null  object
 1   WARE_HOUSE_ID                 350001 non-null  object
 2   WH_MANAGER_ID                 350001 non-null  object
 3   LOCATION_TYPE                 350001 non-null  object
 4   WH_CAPACITY_SIZE              350001 non-null  object
 5   ZONE                          350001 non-null  object
 6   WH_REGIONAL_ZONE              350001 non-null  object
 7   REFILL_REQUESTS               350001 non-null  int8
 8   TRANSPORT_ISSUE               350001 non-null  int8
 9   NO_OF_COMPETITOR              350001 non-null  int8
 10  NO_OF_RETAILERS               350001 non-null  int16
 11  WAREHOUSE_OWNERSHIP           350001 non-null  object
 12  NUMBER_OF_DISTRIBUTORS        350001 non-null  int16
 13  FLOOD_IMPACTED                350001 non-null  int8
 14  FLOOD_PROOF                   350001 non-null  int8
 15  ELECTRIC_SUPPLY               350001 non-null  int8
 16  DIST_FROM_HUB                 350001 non-null  int16
 17  WORKERS_NUM                   349011 non-null  float64
 18  WH_EST_YEAR                   183666 non-null  float64
 19  STORAGE_ISSUE_REPORTED        350001 non-null  int8
 20  TEMP_REG_MACH                 350000 non-null  float64
 21  APPROVED_WH_GOVT_CERTIFICATE  350000 non-null  object
 22  WH_BREAKDOWN                  350000 non-null  float64
 23  GOVT_CHECK                    350000 non-null  float64
 24  PRODUCT_WG_TON                350000 non-null  float64
dtypes: float64(6), int16(3), int8(7), object(9)
memory usage: 44.4+ MB

In [5]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
REFILL_REQUESTS,350001.0,4.720761,3.648191,0.0,2.00,4.0,7.0,26.0
TRANSPORT_ISSUE,350001.0,2.426333,2.579299,0.0,0.00,2.0,4.0,22.0
NO_OF_COMPETITOR,350001.0,3.729101,2.997011,0.0,2.00,3.0,5.0,22.0
NO_OF_RETAILERS,350001.0,4985.876377,1285.713090,0.0,4141.00,4893.0,5724.0,12861.0
NUMBER_OF_DISTRIBUTORS,350001.0,61.922032,21.646701,8.0,46.00,62.0,77.0,146.0
FLOOD_IMPACTED,350001.0,0.098160,0.297531,0.0,0.00,0.0,0.0,1.0
FLOOD_PROOF,350001.0,0.054643,0.227282,0.0,0.00,0.0,0.0,1.0
ELECTRIC_SUPPLY,350001.0,0.656881,0.474752,0.0,0.00,1.0,1.0,1.0
DIST_FROM_HUB,350001.0,163.537113,62.717475,55.0,109.00,164.0,218.0,271.0
WORKERS_NUM,349011.0,37.665369,11.993045,0.0,30.00,37.0,45.0,124.0
WH_EST_YEAR,183666.0,2009.383185,7.527963,1996.0,2003.00,2009.0,2016.0,2023.0
STORAGE_ISSUE_REPORTED,350001.0,24.325030,11.303293,0.0,16.00,24.0,32.0,75.0
TEMP_REG_MACH,350000.0,0.303280,0.459676,0.0,0.00,0.0,1.0,1.0
WH_BREAKDOWN,350000.0,13.268754,7.635300,0.0,7.00,12.0,19.0,46.0
GOVT_CHECK,350000.0,28.574317,11.447771,0.0,20.00,29.0,37.0,72.0
PRODUCT_WG_TON,350000.0,35141.765997,14871.880702,0.0,24378.75,34435.0,45229.0,93093.0

In [6]:
df.duplicated().sum()

0

In [7]:
df.isnull().sum()

DATE                                 0
WARE_HOUSE_ID                        0
WH_MANAGER_ID                        0
LOCATION_TYPE                        0
WH_CAPACITY_SIZE                     0
ZONE                                 0
WH_REGIONAL_ZONE                     0
REFILL_REQUESTS                      0
TRANSPORT_ISSUE                      0
NO_OF_COMPETITOR                     0
NO_OF_RETAILERS                      0
WAREHOUSE_OWNERSHIP                  0
NUMBER_OF_DISTRIBUTORS               0
FLOOD_IMPACTED                       0
FLOOD_PROOF                          0
ELECTRIC_SUPPLY                      0
DIST_FROM_HUB                        0
WORKERS_NUM                        990
WH_EST_YEAR                     166335
STORAGE_ISSUE_REPORTED               0
TEMP_REG_MACH                        1
APPROVED_WH_GOVT_CERTIFICATE         1
WH_BREAKDOWN                         1
GOVT_CHECK                           1
PRODUCT_WG_TON                       1
dtype: int64

In [8]:
p

KeyError: 'workers_num'